av==14.2.0
click==8.2.2
einops==0.8.1
fsplit==1.0.0
gradio==5.39.0
imageio_ffmpeg==0.6.0
lpips==0.1.4
matplotlib==3.10.5
numpy==2.3.2
onnxruntime==1.21.0
opencv_python==4.11.0.86
paddle==1.0.2
paddle2onnx==2.0.1
paddleocr==3.1.0
Pillow==11.3.0
platformdirs==4.3.8
pysimplegui==5.0.8.2
qpt==1.0b8
RAFT==1.6
scipy==1.16.1
Shapely==2.1.1
skimage==0.0
tensorboardX==2.6.4
torch==2.6.0
torch_directml==0.2.5.dev240914
torchvision==0.22.1
tqdm==4.67.1
